<p style="color: green"><%= notice %></p>

<%= render @errorcode %>

<div>
  <%= link_to "Edit this errorcode", edit_errorcode_path(@errorcode) %> |
  <%= link_to "Back to errorcodes", errorcodes_path %>

  <%= button_to "Destroy this errorcode", @errorcode, method: :delete %>
</div>
