<p style="color: green"><%= notice %></p>

<%= render @opening_hour %>

<div>
  <%= link_to "Edit this opening hour", edit_opening_hour_path(@opening_hour) %> |
  <%= link_to "Back to opening hours", opening_hours_path %>

  <%= button_to "Destroy this opening hour", @opening_hour, method: :delete %>
</div>
