<div id="<%= dom_id custbook %>">
  <p>
    <strong>Restaurant:</strong>
    <%= custbook.restaurant_id %>
  </p>

  <p>
    <strong>Booking date time:</strong>
    <%= custbook.booking_date_time %>
  </p>

  <p>
    <strong>Number of diners:</strong>
    <%= custbook.number_of_diners %>
  </p>

  <p>
    <strong>Accessible:</strong>
    <%= custbook.accessible %>
  </p>

  <p>
    <strong>Highchair:</strong>
    <%= custbook.highchair %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= custbook.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= custbook.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= custbook.phone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= custbook.status %>
  </p>

</div>
