<div id="<%= dom_id abooking %>">
  <p>
    <strong>Restaurant:</strong>
    <%= abooking.restaurant_id_id %>
  </p>

  <p>
    <strong>Booking date time:</strong>
    <%= abooking.booking_date_time %>
  </p>

  <p>
    <strong>Number of diners:</strong>
    <%= abooking.number_of_diners %>
  </p>

  <p>
    <strong>Accessible:</strong>
    <%= abooking.accessible %>
  </p>

  <p>
    <strong>Highchair:</strong>
    <%= abooking.highchair %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= abooking.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= abooking.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= abooking.phone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= abooking.status %>
  </p>

</div>
