<div id="<%= dom_id exemption %>">
  <p>
    <strong>Exempt dat:</strong>
    <%= exemption.exempt_dat %>
  </p>

  <p>
    <strong>Exempt msg:</strong>
    <%= exemption.exempt_msg %>
  </p>

  <p>
    <strong>Lunch:</strong>
    <%= exemption.lunch %>
  </p>

  <p>
    <strong>Dinner:</strong>
    <%= exemption.dinner %>
  </p>

</div>
