<h1>Welcome to Reservation System</h1>
<p></p>

<%= link_to "Make Reservation", enquiries_reservation_path, class: "btn btn-info" %>
<hr>
<h5><i>Our Restaurants</i></h5><hr>

<% @restaurants.each do |restaurant| %>
<h3>  <%= restaurant.name %> -  <%= restaurant.location %></h3>

<div class="container mt-10">
  <% restaurant.opening_hours.each do |oh| %>
     <%= Date::DAYNAMES[oh.day] %> -  
     <%= oh.open ? "Open" : "Closed" %>  
      
      <% if (oh.sittings.count>0) %>
          <% oh.sittings.each do |sitting| %>
           : <%= sitting.start_time.to_fs(:time_24) %> -  <%= sitting.end_time.to_fs(:time_24) %>  
     
          <% end %>
      <% end %>
      <br>
     <% end %>
</div>
 <% end %>
 <hr>

